{% extends "blog\base.html" %}
{% block content %}
    
    <article class="media content-section">
        <img class="rounded-circle article-img" src="{{ object.author.profile.image.url }}">
        <div class="media-body">
            <div class="article-metadata" id="WithUnderline">
                <a class="mr-2" href="{% url 'user-posts' object.author.username %}">{{ object.author }}</a>
                <small class="text-muted">{{ object.date_posted|time:"h:i A" }} · {{ object.date_posted|date:"F d, Y " }}</small>
                {% if object.author == user %}
                    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" id="PostOptions">Action</button>
                    <div class="dropdown-menu">
                        <a class="dropdown-item mt-1" href="{% url 'post-update' object.id %}">Update</a>
                        <a class="dropdown-item mt-1" href="{% url 'post-delete' object.id %}">Delete</a>
                    </div>
                {% endif %}
            </div>
            <h2 class="article-title">{{ object.title }}</h2>
            <p class="article-content">{{ object.content }}</p>
        </div>
    </article>
    
{% endblock content %}
    

<!--<div>
                        <div class="dropdown" id="Dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown"></a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item mt-1" href="{% url 'post-update' object.id %}">Update</a>
                                <a class="dropdown-item mt-1" href="{% url 'post-delete' object.id %}">Delete</a>
                            </div>
                        </div>
                    </div>-->